/* ==========================================================================
   PhotoSwipe 图片缩放组件样式
   ========================================================================== */

article img:not([data-no-zoom], .expressive-code img, .admonition img, .github-card img, .no-zoom img, #waline img) {
    cursor: url("/w11-cursor-concept-free/crosshair.cur") 16 16, crosshair;
}

.pswp-active {
    cursor: url("/w11-cursor-concept-free/sizeall.cur") 16 16, zoom-out !important;
}

.pswp,
.pswp__bg,
.pswp__scroll-wrap {
    cursor: url("/w11-cursor-concept-free/sizeall.cur") 16 16, zoom-out !important;
}

.pswp__img {
    cursor: url("/w11-cursor-concept-free/sizeall.cur") 16 16, grab !important;
}

.pswp--dragging .pswp__img {
    cursor: url("/w11-cursor-concept-free/sizeall.cur") 16 16, grabbing !important;
}
