.toc-link {
	display: block;
	padding-bottom: 0.3rem;
	text-decoration: none;
	padding-left: 1rem;
	margin-left: -0.125rem;
}

.toc-link:hover {
	color: var(--color-accent);
}

dir.active-toc-item a.toc-link {
	font-weight: 500;
}

dir.active-toc-item {
	color: var(--color-accent);
	border-left: 2px solid var(--color-accent);
	background-color: rgba(var(--color-accent-rgb), 0.05);
}

summary::-webkit-details-marker {
	display: none;
}
