---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "哎呀！看起来这个页面迷失在太空中！",
	title: "哎呀！你找到了一个丢失的页面！",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">404 | 哎呀，出了点问题</h1>
	<p class="mb-8">请使用导航栏找到回去的路</p>
</PageLayout>
