---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "我是一个正在学习一切新鲜事物的小萌新。",
	title: "关于",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">关于</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>嗨，我是 xiaochen004hao，一个正在学习一切新鲜事物的小萌新。</p>
		<p>其他内容？：</p>
		<ul class="list-inside list-disc" role="list">
			<li>没写</li>
			<li>我没写</li>
			<li>我没有写</li>
			<li>我没有去写</li>
			<li>我就是没有写</li>
			<li>我不知道怎么写</li>
			<li>我不知应该怎么写</li>
		</ul>
		<p>
			都去 <a
				class="cactus-link inline-block"
				href="https://space.bilibili.com/3546624408160947"
				rel="noreferrer"
				target="_blank">哔哩哔哩</a
			> 和 <a
				class="cactus-link inline-block"
				href="https://github.com/xiaochen004hao/"
				rel="noreferrer"
				target="_blank">Github</a
			> 关注我!
		</p>
	</div>
</PageLayout>
