---

---

<p class="mt-6 text-xs text-muted">
	除特别声明外，本博客所有文章采用
	<a
		class="cactus-link"
		href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
		rel="noopener noreferrer"
		target="_blank"
	>
		CC BY-NC-SA 4.0
	</a>
	协议许可。
</p>
